<div id="about">
	<h2>About Me</h2>
	<div class="media">
		<div class="media-left media-middle">
			<a><img class="media-object thumbnail" style="width: 200px;" src="/img/borko.jpg" alt="profile image"></a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Software Engineer | Tester | Developer</h4>
			<p>Hello everyone, my name is Iva. I am a passionate software engineer and tester. I've built my experience in the telecommunication industry working with US's major carrier operators and OEM companies. It's a a huge field of interest to me, especially LTE, IMS, eMBMS, and Carrier Agregations.</p>
			<p>I love learning new things, which led me to explore the world of coding and web development. Some of the testing tools, frameworks, libraries, languages I've been working with are: HTML, CSS, Bootstrap3, Javascript, Ruby, Sinatra, ActiveRecord, Git and GitHub (version controll), CrossBrowser, and Selenium</p>
			<p>In my free time I enjoy taking walks in nature, playing with my dog, and watching TV shows. I'm also a fierce Xbox fan; therefore, I know to lose myself playing Halo.</p>
		</div>
		
		<div class="app-info">
			<h3>Numerology App</h3>
			<p>The application was made for Ruby on Rails course offered by SkillCrush.</p>
			<ul class="list-group">
			  <li class="list-group-item">Language: Ruby</li>
			  <li class="list-group-item">Framework: Sinatra with ActiveRecord</li>
			  <li class="list-group-item">Database: PostgreSQL</li>
			  <li class="list-group-item">Design: Bootstrap3 (w/ HTML & CSS)</li>
			</ul>
				</div>

		<div class="contact">
			<h3>Contact me:</h3>
			<a href="https://github.com/krstikiv" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
			<a href="http://www.freecodecamp.com/krstikiv" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-fire fa-fw"></i> <span class="network-name">freeCodeCamp</span></a>
			<a href="https://www.linkedin.com/in/ivakrstik" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
		</div>
	</div>