<div class="list-group">
   <h4 class="list-group-item-heading">NUMBER 1</h4>
   <p class="list-group-item-text">One is the leader. The number one indicates the ability to stand alone, and is a strong vibration. Ruled by the Sun.</p> <br>
    
   <h4 class="list-group-item-heading">NUMBER 2</h4>
   <p class="list-group-item-text">This is the mediator and peace-lover. The number two indicates the desire for harmony. It is a gentle, considerate, and sensitive vibration. Ruled by the Moon.</p> <br>

     <h4 class="list-group-item-heading">NUMBER 3</h4>
   <p class="list-group-item-text">Number Three is a sociable, friendly, and outgoing vibration. Kind, positive, and optimistic, Three's enjoy life and have a good sense of humor. Ruled by Jupiter.</p> <br>
  
    <h4 class="list-group-item-heading">NUMBER 4</h4>
   <p class="list-group-item-text">This is the worker. Practical, with a love of detail, Fours are trustworthy, hard-working, and helpful. Ruled by Uranus.</p> <br>
  
    <h4 class="list-group-item-heading">NUMBER 5</h4>
   <p class="list-group-item-text">This is the freedom lover. The number five is an intellectual vibration. These are 'idea' people with a love of variety and the ability to adapt to most situations. Ruled by Mercury.</p> <br>
  
    <h4 class="list-group-item-heading">NUMBER 6</h4>
   <p class="list-group-item-text">This is the peace lover. The number six is a loving, stable, and harmonious vibration. Ruled by Venus.</p> <br>
  
    <h4 class="list-group-item-heading">NUMBER 7</h4>
   <p class="list-group-item-text">This is the deep thinker. The number seven is a spiritual vibration. These people are not very attached to material things, are introspective, and generally quiet. Ruled by Neptune.</p> <br>
  
    <h4 class="list-group-item-heading">NUMBER 8</h4>
   <p class="list-group-item-text">This is the manager. Number Eight is a strong, successful, and material vibration. Ruled by Saturn.</p> <br>
  
   <h4 class="list-group-item-heading">NUMBER 9</h4>
   <p class="list-group-item-text">This is the teacher. Number Nine is a tolerant, somewhat impractical, and sympathetic vibration. Ruled by Mars.</p>
    
</div>
